
.fondo {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 50px 50px; 
}
/* Foto */
.photo {
    text-align: center;
    margin-top: 10px;
}

.photo img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    border-radius: 15px;
    margin-bottom: 30px; 
    position: relative; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.photo img:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

/* Botón Asistir */
#btnAsistir {
    padding: 12px 25px;
    font-size: 1rem;
    background: #ff4081;
    color: rgb(221, 160, 160);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

#btnAsistir:hover {
    background: #f50057;
    transform: scale(1.1);
}

/* Mapa */
.mapa {
    text-align: center;
    width: 100%;
    max-width: 400px; /* mismo ancho que la imagen */
    margin: 0 auto;
    border-radius: 15px; /* bordes suaves */
    overflow: hidden; /* para que el iframe respete los bordes */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* sombra */
    transition: all 0.3s ease;
}

.mapa:hover {
    transform: translateY(-5px); /* efecto flotante */
    box-shadow: 0 15px 25px rgba(0,0,0,0.3); /* sombra más intensa */
}

.mapa iframe {
    display: block;
    width: 100%;
    height: 400px;     
    border: none;
}

/* Responsivo */
@media (max-width: 480px) {
    .photo img,
    .mapa {
        max-width: 100%;
    }
    #btnAsistir {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}


body {
    margin: 0;
    padding: 0;
}


#nubes,
#tulipanes,
#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1;
}

.mapa {
    position: relative;
    z-index: 2;
}